/////////////nav-header mixins////////

.headContStyling{
    display    : flex;
    background   : radial-gradient(#333333, black);
    align-items: center;
    height     : 25vh;
    font-family: @FontGaya;
    width: 100%;
}



.buttonDesign{
    background   : #ffb20f;
    width        : 45%;
    padding      : 1.8%;
    border       : solid 1px #ffb20f;
    border-radius: 5px;
    text-align   : center;
    font-family  : @FontGaya;
    color        : black;
    margin-top   : 5%;
}

.Lg-MedTabStyling{
    width: 75%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding: 2%;
}

///////Flex General Styles/////////

.flexStyle1{
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    box-sizing: border-box;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexRow-Reverse{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexColumn-Reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}





/////////mixins for middle////////////

.videoStyling{
    display       : flex;
    flex-direction: column;
    border        : solid 1px black;
    border-radius : 10px;
    background    : radial-gradient(#333333, black);
}

.h3Styling{
    padding    : 5%;
    text-align : center;
    font-size  : 1.2em;
    font-family: 'Gayathri', sans-serif;
}
///////////mixins for about//////////

.aboutH3Styling{
    width        : 100%;
    padding      : 4%;
    margin       : 4%;
    font-size    : 20px;
    background   : radial-gradient(#333333, black);
    border-radius: 10px;
    box-sizing   : border-box;
}

.imgPicSize{
    width: 60%;
    height: 60%;

}
////mixins for about page team boxes/////

.tabLgMedStyleBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.tabLgMedStyleIMG{
    width: 60%;
    height: 60%;
}

.tabLgMedStyleH3{
    width: 95%;
}