///////Variables///////////////
@hoverRed: #bc0000;
@FontGaya:'Gayathri', sans-serif;
@widthNav: 30%;
@padNav: 5.3%;
@textCenter: center;



///////////Escapins///////////

@LgDesktop: ~"(max-width: 2000px)";

@MeddeskTop: ~"(max-width: 1024px)";

@smalldeskTop: ~"(min-width: 1000px)";

@LgTablet: ~"(max-width: 800px)";

@Lg-MedTablet: ~"(max-width: 760px)";

@MedTablet: ~"(max-width: 650px)";

@Lg-Mobile:~"(max-width: 500px)";

@phone: ~"(max-width: 400px)";


